@import"reset.css";

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

.password-generator {
    display: flex;
    flex-direction: row;
    gap: 0px;
}

.screen-button {
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.symbol-options {
    display: flex;
    flex-direction: column;
}

.symbols-count {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 120px;
    padding-left: 25px;
}

.symbols-count-label {
    display: flex;
    flex-direction: row;
    font-size: 1.2em;
    align-self: left;
    margin-top: 55px;
    margin-left: 20px;
    margin-bottom: 0px;
    user-select: none;
}

.symbols-count-label .count {
    margin-left: 50px;
}

.checkbox-options {
    width: 300px;
    height: 180px;
}

.generate-button {
    box-sizing: border-box;
    background-color: #ff4900;
    width: 300px;
    height: 150px;
    border-radius: 0 0 50% 50% / 0 0 100% 100%;
    box-shadow: 0px 0px 0px 5px #db4003 inset;
    padding: 50px;
    user-select: none;
}

.generate-button p {
    text-align: center;
    font-size: 2.1em;
}

.generate-button:hover {
    filter: brightness(120%);
}

.generate-button:active {
    filter: brightness(80%);
}

.password-screen {
    box-sizing: border-box;
    background-color: #FF9200;
    width: 300px;
    height: 150px;
    border-radius: 50% 50% 0 0 / 100% 100% 0 0;
    padding: 70px;
}

.password-screen p {
    font-size: 2em;
    text-align: center;
}

.checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.checkbox span {
    padding-left: 30px;
    font-size: 1.2em;
    user-select: none;
}

.f1 {
    padding-left: 30px;
}

.f2 {
    padding-left: 28px;
}

.f3 {
    padding-left: 20px;
}

.f4 {
    padding-left: 6px;
}


/* --- toggle --- */

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 26px;
    background: rgb(158, 156, 156);
    display: block;
    border-radius: 100px;
    position: relative;
}

label:after {
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 10px;
    transition: 0.3s;
}

input:checked+label {
    background: #0b61a4;
}

input:checked+label:after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}


/* --- slider --- */

.range-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 15px;
}

.range-slider p {
    margin-left: 30px;
    font-size: 1.2em;
}

.range-slider input[type=range] {
    width: 200px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.range-slider input[type=range]::-webkit-slider-runnable-track {
    border-radius: 5px;
    height: 10px;
    background-color: rgb(158, 156, 156);
}

.range-slider input[type=range]::-webkit-slider-thumb {
    background: white;
    border: 2px solid #0b61a4;
    border-radius: 10px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    margin-top: -5px;
}

.range-slider input[type=range]::-moz-range-track {
    border-radius: 5px;
    height: 10px;
    background-color: rgb(158, 156, 156);
    ;
}

.range-slider input[type=range]::-moz-range-thumb {
    background: white;
    border: 1px solid #0b61a4;
    border-radius: 10px;
    cursor: pointer;
}